$primary-background: #4d4e4f;
$primary-font-color: #ffffff;
$activity-card-color: #DFE166;
$sleep-card-background: #EC96A4;
$hydration-card-color: #5BC8AC;
$border-color: black;
$sidebar-background: #9A9DAB;
$primary-font: 'Open Sans';
$secondary-font: sans-serif;
